@charset "utf-8";

/*!
    richard oreilly 
    sodigit.al design and development
    holler at me
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 20px 30px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}
.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #0088cc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:focus {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: #333333;
  text-decoration: none;
}



.greensubmit {
	color:#000;
	margin-top:10px;
	margin-left:590px;
	background: #81A56D;	
	border:1px solid #FFF;
}
.greensubmit:hover {
	background: #CCCC99;	
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}






/* ========================	
	exceptfarmworkers.com 
	BY SO DIGITAL 
	sodigit.al
	rich o'reilly
	jahrichie@chyeaa.com

	#attribution
	Thank you for the stellar plugin
	http://markdalgleish.com/

========================	 */

/* CSS Document */
/*.logo {background:#F6303E;margin-bottom:20px;}*/

a:hover { -webkit-transition: color  200ms ease-in;
	-o-transition:color  200ms ease-in;}
@font-face {
    font-family: 'BebasRegular';
    src: url('font/BEBAS___-webfont.eot');
    src: url('font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BEBAS___-webfont.woff') format('woff'),
         url('font/BEBAS___-webfont.ttf') format('truetype'),
         url('font/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body{
 font-family: 'BebasRegular';
	width:100%;
	height:100%;
}
.logo {width:200px;margin-left:50px;margin-top:10px;float:left;margin-right:100px;}
.logo img {width:40px;}
.logo span {
	font-family: "omnes-pro",sans-serif;
	font-style: normal;
	font-weight: 100;position:absolute;margin:13px 0 0 8px;
	text-transform: uppercase;
}


.navigation{
	padding-top:2px;
	position:fixed;
	top:0;
	z-index:9999;
	background: #81A56D;
	box-shadow: 0 0 3px rgba(0,0,0,0.9);
	width:100%;
	height:70px;

}


.navigation li{
font-family: "omnes-pro",sans-serif;
	font-style: normal;
	font-weight: 100;
	text-transform:uppercase;
	color: #fff;
	display: inline;
	padding: 0 10px;
	line-height: 56px;
	margin-bottom: 3px;
	-webkit-transition: all .2s ease-in-out;
	text-align: left;
	width: 280px;
	height: 36px;
	border-radius:4px;
	border-left:0;

}

.navigation li:first-child {	margin-left:190px;}

.navigation li:hover,.active{
	/*background:rgba(200,200,200,.90);*/
	/*font-size:25px;*/
	cursor:pointer;


}

.navigation .active  {color:#000;}


.active:after {
   content: '*';
   font-size:35px;
   color:#973247;
}

.active {
	/*border-bottom:6px solid rgba(0,0,0,.2);*/
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.wrapper{
	width:960px;
	height:200px;
	margin:0 auto;
	position:relative;
}
.slideno{
	margin-left:10px;
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:50px;
	font-weight:bold;
	color:#000;
font-family: "hotel-open",sans-serif;
font-style: normal;
font-weight: 400;
}
.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
  z-index:999;
	bottom:0px;
	left:50%;
	background:#000;
	border:1px solid #999;
	border-bottom:0;
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
	 background:#BBBD94 url(../images/heros/apple-trees.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
  z-index:999;
}

/******************************
 SLIDE 2 
*******************************/
#slide2{
	background: #81A56D;
  padding-top:120px;
  position:relative;
  z-index:99;


}
#slide2 img:first-child{
	position:absolute;
top: 500px;
left: -150px;
}
#slide2 img:nth-child(2){
	position:absolute;
	top:300px;
	left:100px;
}
#slide2 img:nth-child(3){
	position:absolute;
	top:600px;
	left:300px;
}
#slide2 img:nth-child(4){
	position:absolute;
	top:400px;
	left:300px;
}
#slide2 img:nth-child(5){
	position:absolute;
	top:600px;
	right:300px;
}
#slide2 img:nth-child(6){
	position:absolute;
	top:600px;
	right:300px;
}
#slide2 img:nth-child(7){
	position:absolute;
	top:400px;
	right:100px;
}
#slide2 img:nth-child(8){
	position:absolute;
	top:100px;
	right:300px;
}
/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-color:#A27943;
  position: relative;
  z-index:999;
}
#slide3 img:first-child{
position:absolute;
top: 500px;
left: 300px;
}
#slide3 img:nth-child(2){
	position:absolute;
	top:100px;
	left:100px;
}
#slide3 img:nth-child(3){
	position:absolute;
	top:150px;
	left:300px;
}
#slide3 img:nth-child(4){
	position:absolute;
	top:450px;
	left:300px;
}
#slide3 img:nth-child(5){
	position:absolute;
	top:200px;
	right:300px;
}
#slide3 img:nth-child(6){
	position:absolute;
	top:100px;
	right:300px;
}
/******************************
 SLIDE 4 
*******************************/

#slide4{

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#FFF;
}
#slide4 .parallaxbg{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
}


/******************************
 SLIDE 5
*******************************/

#slide5{
	 background: #563729;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#FFF;
  position: relative;
  z-index:999;
}

 

.twitter-wrapper {
padding-top: 180px;
margin-left: 450px;
height: 300px;
color: #000;
width: 450px;
}

.nav-tabs.nav-stacked > li > a {
background: #FFF
}

p,body {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
	margin-bottom:15px;	
}

.learnCopy {
	width:950px;
	margin:0 auto;
	background: #FFF;
  position: relative;
  z-index: 999;
  padding-bottom:10px;
}

.learncopy h1 {
  font-size:12px;  
}

.learnCopy p {
  margin:20px ;  
}

.learnCopy ul {
  margin:20px;
}

.learnCopy li {
  font-size:12px;
  margin:3px;
  list-style: circle;  
  margin-left:20px;
}

.button {
	font-size: 40px;
	text-align: center;
	color: #FFF;
	background: #81A56D;
	font-size: 40px;
	line-height: 51px;
}

#slide1 .button {
color: #FFF;
background: #81A56D;
}

#slide2 .button {
color: #FFF;
background: #DE4646;
}


.contact-info {
	border-radius:4px;
	margin:140px 25px;
	float:right;
	background: #FFF;	
	width:340px;
	padding:10px ;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
	padding-bottom:20px;
}

.contact-info  a {
	color:#81A56D;
}

.contact-info i {
	color:#000;	
}

.contact-info span {	
	display: block;
	font-size:15px;
	font-family: inherit;
	color:#000;
	margin-top:5px;
	margin-left:10px;
}

.contact-info span.header {
	margin-left:0;
	font-size: 28px;
	margin-bottom: 10px;
} 
 
.contact-form {
	margin:140px 25px;
	float:left;

}


.form {
	color:#000;
	padding:6px;
	margin:4px;
	box-shadow: none;
	outline:none;
	border: 0;
/*	border:3px solid red;*/
	width:360px;
	height: 100px;
	/*border:10px solid #FFF;*/
	border-radius:4px;
}

textarea.form {
margin-top:7px;
display: block;
width:746px;
height:150px;
}

input.form {}

.btn {text-decoration: none;}

.buttonfloat {
  float:left;margin:4px;
}

.buttonfloat {
  margin-left:50px;  
}


.one-sign:before {
   content: "1";
   font-size:18px;
   padding-right:20px;
   color:#999;
   position: relative;
   z-index:999;
   margin-left:100px;
}

.two-sign:before {
   content: "2";
   font-size:18px;
   padding-right:20px;
   padding-left:-40px;
   color:#000;
   position: relative;
   z-index:999;

}
h1.suggestedlanguage {
  margin:10px 0 ;  
}
blockquote {
  font-size:12px;
}
blockquote:hover {
  background:rgba(200,200,200,.7);  
   cursor: copy;
}



/*
LINKS
*/
a {
  text-decoration:none;
  color:#81A56D;
  }
.btn a {
  color:#FFF;
}

#restaurants ul{
  display: inline;
  width:200px;

}
#restaurants li{
  display: inline;
  width:200px;

}

div.restBlocks {  
  margin: 5px;

}


.twitterwrapper, .facebookwrapper {
  margin-top:20px;
  float:left;
  margin-bottom:20px;

}

.twitterwrapper {
  /*border:1px solid green;*/
  padding-left:50px; 
  width: 200px;

}

.facebookwrapper {
  width: 400px;
  /*border:1px solid red;*/
  margin-left:130px; 
}

.learnlinks {
  text-align: center;
  margin:5px 0 0 0 ;
    
}

.floatleftyo {
  float:left;
  width:50% ;
  margin-left:-100px;
}


.floatleftyo:first-child {
  margin-left:100px;  
} 


.extrasmall {
  font-size:10px;
  color:#666;  
}

.partner-logo-wrapper {
  width:900px ;
  margin: 0 auto; 
  padding-top:100px; 
}
 



 body,
html{
height: 100%;
width: 100%; } /* If you don't do this, gremlins will eat your nose. */

#gmap{
height: 100%;
left: 0;
position: fixed !important; /* Acts in pretty much the same way as background-attachment: fixed for an image background. Has to be !important only if you're using the Google Maps API. */
top: 0;
width: 100%;
z-index: 1; } /* Has to be at least one increment smaller in value than the container's z-index */

#container{
background: rgba(0, 0, 0, 0.8);
border-radius: 20px;
border: 3px solid #fff;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
margin: 0 auto;
overflow: visible !important; /* Has to be !important only if you're using an on/off switch */
padding: 40px;
position: relative;
top: 100px;
width: 800px;
z-index: 2; }


.largeh1 {
margin-left:20px; 
font-family: "hotel-open",sans-serif;
font-style: normal;
font-weight: 400;
color: #000;
font-size: 46px;
}


.smallerh1 {
margin-left:20px; 
font-family: "hotel-open",sans-serif;
font-style: normal;
font-weight: 400;
color: #000;
font-size: 36px;
}




#get-involved-slider,.learnCopy,.partners-list {
  border:10px solid rgba(200,200,200,.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);  
}



.get-involved-slider-panel  {
/*  border:10px solid rgba(200,200,200,.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); */   
}

.partners-list {
position: absolute;
z-index: 999;
background: rgba(255,255,255,.8);
width: 210px;
border-radius: 4px;
color: #000;
padding: 10px  20px 20px 20px;
margin: 199px 0 0 100px;
}
.partners-list h1 {margin:0 0 10px 0;}
.partners-list li {
  padding-left:20px;
}

.partners-list li:last-child {
  margin-top:10px; 
}


#imageGallery {
  position: absolute;
  top:200px; 
  margin-left:-300px;
}

#imageGallery img {
  width: 130px;
  height:87px;
}
/*==================================
=      PARTNER STYLES INDI.
==================================*/
.havens{margin-left:27px;}
.casellula {margin-left:10px;}



/*==================================
= z-indexing
= 999 for everything except top 9999 
==================================*/



