<div class="contact-form">
<form action="" method="post" id="bigjoe">
  <input type="text" name="name" class="form" placeholder="Your Name">
  <input type="text" name="email" class="form" placeholder="Your Email">
  <textarea rows="4" class="form" cols="50" placeholder="Your Message"></textarea>
    <input type="submit" class="btn btn-large greensubmit">

  </form>
</div><!-- contact-form -->

<div class="contact-info">
  <span class="header">Holler at Us</span>
  <span><i class="icon-envelope"></i> <a href="#">info@exceptfarmworkers.com</a></span>
  <span> <i class="icon-phone"></i> 800.000.0000</span>
</div><!-- contact-info -->