<div class="learnCopy" data-stellar-ratio="1" data-stellar-vertical-offset="-55" >
 <p>Vinyl direct trade freegan, artisan church-key synth fixie ethical whatever. Tonx vice beard, craft beer actually street art you probably haven't heard of them mlkshk Austin trust fund irony direct trade. Tofu meggings intelligentsia, you probably haven't heard of them thundercats kogi fashion axe raw denim. Tousled seitan plaid gluten-free wes anderson, terry richardson scenester street art farm-to-table polaroid ethnic thundercats. Fixie meggings sustainable tonx, forage letterpress semiotics aesthetic DIY VHS terry richardson kale chips freegan. Fanny pack bespoke ethnic authentic aesthetic hella trust fund mixtape flannel fixie, food truck carles pug. Pour-over vegan meggings gluten-free pork belly.</p>
              
  <p>Lo-fi blog forage sustainable pug, etsy squid cliche letterpress YOLO occupy farm-to-table narwhal artisan. Biodiesel squid keytar organic, vice salvia thundercats art party cray. Plaid messenger bag seitan, 8-bit cosby sweater next level keytar quinoa pour-over pitchfork skateboard narwhal. Tonx chambray wayfarers, skateboard jean shorts swag PBR leggings bushwick neutra stumptown salvia single-origin coffee you probably haven't heard of them. Retro cliche +1 wolf four loko sustainable photo booth swag organic literally, intelligentsia try-hard. Narwhal master cleanse stumptown, sriracha portland artisan leggings bicycle rights. Fap sriracha post-ironic, helvetica jean shorts meh stumptown banksy.</p>
</div><!-- learncopy -->





<!-- 
<p>A labor economist talks about the effects of raising wages for farmworkers
</p>
<p>A New York Times columnist visits a New York farm and writes about it
</p>
<p>Here is a summary of ways that New York farmworkers are excluded in labor law:</p>

<p>Workers are protected when bargaining collectively….except farmworkers</p>

<p>Minimum wage is the same for youths as for adults…except farmworkers</p>

<p>Hourly laborers working more than eight hours a day get overtime…except farmworkers</p>

<p>Workers are covered by disability insurance…except farmworkers
Everyone gets a mandatory day of rest…except farmworkers</p>

<p>People working in dangerous conditions get mandatory safety training….except farmworkers (besides pesticides training, which is provided)</p>

<p>Workers in exposed to extreme heat are given shortened work periods and provided areas to cool down….except farmworkers</p>

<p>Here is a copy of the Farmworkers Fair Labor Practices Act which would:</p>
<p>Establish an 8 hour workday for farmworkers </p>

<p>Provide farmworkers overtime pay of at least time and one half after eight hours of work </p>

<p>Allow farmworkers one day of rest each week, which they may decline 
Prohibit child farmworkers from being paid a wage lower than the minimum wage </p>

<p>Give farmworkers the right to organize and bargain collectively for the purposes of representing and protecting their interests </p>

<p>Ensure that farmworker housing facilities meet basic standards under the Sanitary Code, including: structurally safe buildings, clean water, adequate light and ventilation, and facilities for sewage disposal </p>

<p>Provide farmworkers with unemployment pay when laid off from work or terminated </p>

<p>Require employers to provide workers’ compensation benefits to farmworkers who are injured  during the course of employment </p>

<p>Require a foreman or supervisor who learns that a farmworker is injured on the job to inform the farm owner of that injury </p>

<p>Allow farmworkers to receive disability benefits when unable to work due to non-job related sickness or injuries </p>

<p>Prohibit employers from discharging or discriminating against a farmworker who attempts to seek workers’ compensation for injuries suffered on the job by requesting a claim form </p>

<p>Require the posting of a notice in English and Spanish that informs farmworkers of their right to workers’ compensation benefits, as required by law 
</p> -->
