<div class="learnCopy">
<div class="clearfix">&nbsp;</div>

<!-- <div class="floatleftyo">  <a href="http://www.nytimes.com/roomfordebate/2011/08/17/could-farms-survive-without-illegal-labor/the-costs-and-benefits-of-a-raise-for-field-workers" target="_blank"  class="btn btn-success learnlinks" style="width:300px;margin-left:200px;"><i class="icon-link"> A labor economist talks about the effects of raising wages for farmworkers</i></a></div>

  <div class="floatleftyo"><a href="http://www.nytimes.com/2009/06/09/opinion/09herbert.html?_r=0" target="_blank"  class="btn btn-success learnlinks"  style="width:300px;margin-left:200px;"><i class="icon-link"> A  New York Times columnist visits a New York farm and writes about it</i></a></div>
<div class="clearfix">&nbsp;</div> -->
 
 <img src="/images/nytimes.png" style="float:left;margin:10px 25px;">
 
 <div class="restrain"><a href="http://www.nytimes.com/roomfordebate/2011/08/17/could-farms-survive-without-illegal-labor/the-costs-and-benefits-of-a-raise-for-field-workers" class="nytimes btn"><i class="icon-link"> </i> A labor economist talks about the effects of raising wages for farmworkers</a></div>

 <a href="http://www.nytimes.com/2009/06/09/opinion/09herbert.html?_r=0" target="_blank" class="nytimes btn" style="margin:0 0 0 20px;"><i class="icon-link"> </i> Columnist visits a New York farm and writes about it</a>

<div class="clearfix">&nbsp;</div>
<div id="accordion">
<div>
<h3 class="switchSign btn" style="margin-top:10px"> Except farmworkers...</h3>
<ul id="except">
  <li>Workers are protected when bargaining collectively...except farmworkers</li>
  <li>Minimum wage is the same for youths as for adults...except farmworkers</li>
  <li>Hourly laborers working more than eight hours a day get overtime...except farmworkers</li>
  <li>Workers are covered by disability insurance...except farmworkers</li>
  <li>Everyone gets a mandatory day of rest...except farmworkers</li>
  <li>  People working in dangerous conditions get mandatory safety training....except farmworkers (besides pesticides training, which is provided)</li>
  <li> Workers in exposed to extreme heat are given shortened work periods and provided areas to cool down...except farmworkers</li>
</ul>
</div>

<div>
<h3 class="switchSign btn" style="margin-top:5px;"> Learn more about the Farmworkers Fair Labor Practices Act</h3>

<ul id="laborbill">
  <!-- <a href="http://open.nysenate.gov/legislation/bill/S1862-2011" target="_blank"> --> <!-- </a> -->
  <li>
  Establish an 8 hour workday for farmworkers </li>

  <li>Provide farmworkers overtime pay of at least time and one half after eight hours of work </li>

  <li>Allow farmworkers one day of rest each week, which they may decline 
  Prohibit child farmworkers from being paid a wage lower than the minimum wage 
  Give farmworkers the right to organize and bargain collectively for the purposes of representing and protecting their interests </li>

  <li>Ensure that farmworker housing facilities meet basic standards under the Sanitary Code, including: structurally safe buildings, clean water, adequate light and ventilation, and facilities for sewage disposal </li>

  <li>Provide farmworkers with unemployment pay when laid off from work or terminated 
  
  Require employers to provide workers’ compensation benefits to farmworkers who are injured  during the course of employment </li>

  <li>Require a foreman or supervisor who learns that a farmworker is injured on the job to inform the farm owner of that injury </li>

  <li>Allow farmworkers to receive disability benefits when unable to work due to non-job related sickness or injuries </li>

  <li>Prohibit employers from discharging or discriminating against a farmworker who attempts to seek workers’ compensation for injuries suffered on the job by requesting a claim form </li>

  <li>Require the posting of a notice in English and Spanish that informs farmworkers of their right to workers’ compensation benefits, as required by law </li>

</ul>
</div>
</div><!-- accordion -->









</div><!-- learncopy -->
