<div class="padd-top-nav">&nbsp;</div>
<h3 class="largeh1" style="width:903px;margin-left:170px;padding:10px"><i class="icon-info-sign"></i> Do your part! Let's make change <br>in New York!</h3>
<div class="getInvolvedright" style="padding-top:15px;" >
  <div class="liquid-slider"  id="get-involved-slider">

    <div style="min-height:200px;">
      <h2 class="title">Food Folks</h2>
        <div id="restaurants">
            <div class="facebookwrapper">

              <h3 class="smallerh1" style="margin-top:20px;width:500px;">Tweet about the campaign:</h3>
            </div><!-- facebookwrapper -->

            <div class="twitterwrapper">
            <div class="clearfix">&nbsp;</div>
            
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= request.url %>" data-text="Support equal rights for farmworkers in New York. Get involved! #efny http://bit.ly/11OtsZx" data-via="exceptny" data-size="large" data-related="exceptny" data-hashtags="exceptny">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                </script>  
             </div> <!-- twitterwrapper  -->

            <div class="clearfix">&nbsp;</div>
            
            <div class="btn btn-success restBlocks "><i style="font-size:14px" class="icon-cloud-download"> <a href="/downloads/EF_FactSheet.pdf" target="_blank">Download fact sheet</a></i></div>

          
        <!--     <div class="btn btn-success restBlocks "><i style="font-size:14px" class="icon-link"> <a href="#">Promote the link</a></i> </div>
              -->
      
             <div class="btn btn-success restBlocks "> <i style="font-size:14px" class="icon-cloud-download"> <a href="/downloads/petition.pdf" target="_blank">Customers sign the petition</a></i></div>

              <div  class="btn btn-success restBlocks "><i style="font-size:14px"  class="icon-fighter-jet"> <a  data-behavior="orderform" href="javascript:void(0)" class="slideto5stickers">Request a sticker for the inside of your window.</a></i></div>

              <div  class="btn btn-success restBlocks"><i style="font-size:14px"  class="icon-fighter-jet"> <a  data-behavior="orderform" href="javascript:void(0)" class="slideto5postcards">Request some postcards about farmworker’s rights</a> </i></div>  

            <div  class="btn btn-success restBlocks "><i style="font-size:14px"  class="icon-envelope"> <a href="javascript:void(0)" class="slideto5">Email us to get added to our map.</a></i></div>  

              <div  class="btn btn-success restBlocks "><i style="font-size:14px"  class="icon-envelope"> <a href="javascript:void(0)" class="slideto5">Make yourself available for interviews with the press.</a></i></div>  


              <div  class="btn btn-success restBlocks "><i style="font-size:14px"  class="icon-envelope"> <a href="javascript:void(0)" class="slideto5">Lend us a quote for your website as to why you are participating</a></i></div>  

              
        </div>





    </div>
    <div>
      <h2 class="title">&nbsp;&nbsp;Individuals</h2>
      <h3 class="smallerh1"> How to get involed! </h3>

      <p>
        <ul>
            <li class="one-sign buttonfloat"><a href="http://www.change.org/petitions/new-york-state-assembly-support-the-farmworkers-fair-labor-practices-act" target="_blank"  class="btn btn-success">Sign the online petition</a></li>
            

           <li class="two-sign buttonfloat" > <a href="http://www.nysenate.gov/nyss_senator_search/" target="_blank" class="btn btn-success">Contact you state senator directly</a></li>

           <li class="three-sign buttonfloat" > <a href="javascript:void(0)" data-slide="5"  target="_blank" class="btn btn-success slideto4">Use our map to find restaurants partner</a></li>


             


           <div class="clearfix">&nbsp;</div>
            
            <h1 class="suggestedlanguage">Suggested language to contact your senator <span class="extrasmall">(Click below to copy)</span></h1>
          <blockquote>  
          Support the Farmworkers Fair Labor Practices Act (FFLPA)!I, as a New Yorker, care about the conditions under which produce is picked and cows are milked. 

            Why has it taken this long to get basic rights for farmworkers? How have we reasoned to think it is OK to specifically exclude farmworkers from the basic rights that all other industries enjoy?

            While there are not many farmworkers in your constituency, I am hereby declaring my support of fair rights for New York farmworkers, and therefore compel you to do what is right, and support FFLPA.
            Sincerely, 

            Only shop at restaurants that participate. Use our map of participating restaurants to know where to dine.
            Spread the word to your friends</blockquote> 
            

          <%# suggested_lang = <<-eos
            I, as a New Yorker, care about the conditions under which produce is picked and cows are milked. 

            Why has it taken this long to get basic rights for farmworkers? How have we reasoned to think it is OK to specifically exclude farmworkers from the basic rights that all other industries enjoy?

            While there are not many farmworkers in your constituency, I am hereby declaring my support of fair rights for New York farmworkers, and therefore compel you to do what is right, and support FFLPA.
            Sincerely, 

            Only shop at restaurants that participate. Use our map of participating restaurants to know where to dine.
            Spread the word to your friends
            eos
          %>

          <%#suggested_lang %>
          

         
      </ul>
      </p>

    </div>          

    
  </div><!-- Liquid Slider Ends Here -->
</div><!-- getInvolvedright -->
