<div data-behavior="fademe">
<div class="pad-top-nav">
  <h3 class="largeh1" style="padding-left:22px;margin-bottom:10px;margin-top:-13px;font-size:28px;"> 
  Except Farmworkers is a campaign to win basic rights for New York farmworkers.
  </h3>

  <div class="youtubeWrapper"> 
    <iframe width="640" height="360" src="http://www.youtube.com/embed/uHQc711RzP8" frameborder="0" allowfullscreen></iframe>
  </div>
  </div><!-- twitter-wrapper -->  
</div>

  <div class="liquid-slider"  id="quotesel">
        <div>
          <h2 class="title">Panel 1</h2>
          <p>We support fair and equitable work practices everywhere, and deplore discrimination and substandard working conditions.<b>- Liz Neumark, CEO, Great Performances</b></p>
        </div>
        <div>
          <h2 class="title">Panel 2</h2>
          <p>The legislation before the New York State Assembly and Senate aims for nothing more than fair and just treatment of farm workers. My understanding of the legislation is that it seeks no special status--no special privileges--for farm workers; rather, it is legislation aimed at simple fairness. <b>- John P. Banning, Jr., Black Sheep Hill Farm</b></p>
        </div>          
        <div>
          <h2 class="title">Panel 3</h2>
          <p>Ultimately, as long as the United States continues to exempt farmworkers from the basic labor rights afforded to other American workers, and available to all under international law, it continues to violate principles of equality and nondiscrimination  <b>- Kerry Kennedy, President, RFK Center for Justice & Human Rights</b></p>
        </div>
        <div>
          <h2 class="title">Panel 4</h2>
          <p>"We support the campaign to pass the Farmworkers Fair Labor Practices Act as a human rights issue. The current laws are promoting modern day slavery. The irony of the farmers market is we are helping the environment at the expense of the workers. New York can do better than this. <b>- Pamela Bell, founder, Prinkshop</b></p>
        </div>
      </div>
      <!-- Liquid Slider Ends Here -->






</div><!-- fademe container -->


