<h3 class="largeh1">Website Callout</h3>
<a class="twitter-timeline" href="https://twitter.com/search?q=%23EXCEPTNY" data-widget-id="309076556821700609">Tweets about "#exceptny"</a>
   <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div id="imageGallery">
   <a class="fancybox" rel="gallery1" href="http://farm9.staticflickr.com/8481/8215602321_69d9939b8b_b.jpg" title="The Trail (Msjunior-Check out my galleries)">
  <img src="http://farm9.staticflickr.com/8481/8215602321_69d9939b8b_m.jpg" alt="" />
</a>
<a class="fancybox" rel="gallery1" href="http://farm9.staticflickr.com/8200/8220393833_e52cabfe80_b.jpg" title="Trees (Joerg Marx)">
  <img src="http://farm9.staticflickr.com/8200/8220393833_e52cabfe80_m.jpg" alt="" />
</a>
<br>
<a class="fancybox" rel="gallery1" href="http://farm9.staticflickr.com/8200/8207750975_bd288a2a1f_b.jpg" title="Templanza (Chico Team)">
  <img src="http://farm9.staticflickr.com/8200/8207750975_bd288a2a1f_m.jpg" alt="" />
</a>
<a class="fancybox" rel="gallery1" href="http://farm9.staticflickr.com/8199/8220132885_9e693356e9_b.jpg" title="Misty Tree Orchard (Stanley Zimny)">
  <img src="http://farm9.staticflickr.com/8199/8220132885_9e693356e9_m.jpg" alt="" />
</a>
</div><!-- imageGallery -->