<div class="pad-top-nav">

    <h3 class="largeh1"><i class="icon-info-sign"></i> A New York farm worker can be required to work all day, every day, all year, without a single day off. Legally.</h3>

    
  <div class="youtubeWrapper">    <iframe width="560" height="315" src="http://www.youtube.com/embed/6pE1tEIJhnY?wmode=opaque" frameborder="0" allowfullscreen></iframe></div>


  <div class="twitter-wrapper" > 
    <div data-behavior="fademe">
  
      <a class="twitter-timeline" href="https://twitter.com/search?q=%23RFK%2C%23tbt" data-widget-id="309076556821700609">Tweets about "#RFK,#tbt"</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>





    <!-- 
      <div id="imageGallery"> -->

    <!--    <a class="learn-video-popup" href="http://www.youtube.com/watch?v=6pE1tEIJhnY&amp;autoplay=1&amp;feature=player_embedded#at=41" style="background-image: none;" title="Kerry Kennedy speaking on working & living conditions for farmworkers">
      ayo
      </a> -->




     <!--  <a class="fancybox" rel="gallery1" href="images/farmworkers/children-workers.JPG" title="Templanza (Chico Team)">
        <img src="images/farmworkers/children-workers.JPG" alt="" />
      </a>
         <a class="fancybox" rel="gallery1" href="images/farmworkers/boots.JPG" title="The Trail (Msjunior-Check out my galleries)" >
        <img src="images/farmworkers/boots.JPG"  alt="" />
      </a>
      <br>
      <a class="fancybox" rel="gallery1" href="images/farmworkers/boxes.jpeg" title="Trees (Joerg Marx)">
        <img src="images/farmworkers/boxes.jpeg"  alt="" />
      </a>
      <a class="fancybox" rel="gallery1" href="images/farmworkers/landscape.JPG" title="Misty Tree Orchard (Stanley Zimny)">
        <img src="images/farmworkers/landscape.JPG" alt="" />
      </a> -->
    <!--   </div> --><!-- imageGallery -->
    </div><!-- fademe container -->

  </div><!-- twitter-wrapper -->  
</div>
